.ai-image-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}

.header {
    font-size: 70px;
    padding-bottom: 30px;
    font-weight: 500;
}

.header span {
    color: #DE1B89;
    font-weight: 600;

}

.img-loading {
    display: flex;
    flex-direction: column;
}

.img-loading img {
    width: 512px;
}

.search-box {
    display: flex;
    width: 1000px;
    height: 95px;
    justify-content: space-around;
    align-items: center;
    background: #1f3540;
    border-radius: 50px;
}

.search-input {
    width: 600px;
    height: 50px;
    background: transparent;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
}

.search-input::placeholder {
    color: #999;
}

.generate-img {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 300px;
    height: 85px;
    border-radius: 50px;
    background: #DE1B89;
    font-size: 20px;
    color: #fff;
    border: none;
}

.generate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 300px;
    height: 85px;
    border-radius: 50px;
    background: #DE1B89;
    font-size: 20px;
    color: #fff;
    border: none;
}